
<div class="hero-unit">
  <h1>The Body System</h1>
  <div id="three-placeholder" style="height: 600px;" class="well well-small"></div>
</div>

<script src="scripts/vendor/tquery-bundle.js"></script>
<script src="scripts/vendor/ThreeBox.js"></script>
<script src="scripts/vendor/threex.domevent.js"></script>
<script src="scripts/vendor/tquery.domevent.js"></script>
<script src="scripts/vendor/dnd.js"></script>

<script src="scripts/vendor/dat.gui.min.js"></script>
<script src="scripts/vendor/dat.color.min.js"></script>

<script src="scripts/rigidbody/rigidbody.js"></script>
<script src="scripts/rigidbody/body-system.js"></script>